body{
    background-image: url('https://i.redd.it/bt9ex5oav3ia1.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 5%;
}
#consolewindow {
    height: 75vh;
}
#consolewindow .window-body {
    height: calc(100% - 2rem - 4px);
}
#console{
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: scroll;
    white-space: pre-wrap;
    margin: -8px -5px !important;
    height: calc(100% - 1rem);
}
pre input[type="text"] {
    font-size: 1rem;
    font-family: Perfect DOS VGA\ 437 Win;
    border: none;
    padding: 0;
    margin: 0;
    background: black;
    color: silver;
    width: calc(100% - 180px);
    height: 1rem;
}
input[type="file"] {
    display: none;
}