body{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ebaf6a09-c33a-4654-bb89-8fecb51f57fd/di23a8s-3b764a6c-c6f4-4814-8010-e90a654878e2.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ViYWY2YTA5LWMzM2EtNDY1NC1iYjg5LThmZWNiNTFmNTdmZFwvZGkyM2E4cy0zYjc2NGE2Yy1jNmY0LTQ4MTQtODAxMC1lOTBhNjU0ODc4ZTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kyAKJ7vpVe66HJmdYPCeEnelY87dRrTvHXovI3feac0');
    background-size: cover;
    background-attachment: fixed;
    margin: 5%;
}
#consolewindow {
    height: 75vh;
}
#consolewindow .window-body {
    height: calc(100% - 2rem - 4px);
}
#console{
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: scroll;
    white-space: pre-wrap;
    margin: -8px -5px !important;
    height: calc(100% - 1rem);
}
pre input[type="text"] {
    font-size: 1rem;
    font-family: Perfect DOS VGA\ 437 Win;
    border: none;
    padding: 0;
    margin: 0;
    background: black;
    color: silver;
    width: calc(100% - 180px);
    height: 1rem;
}
input[type="file"] {
    display: none;
}
